@charset "utf-8";

@font-face {
    font-family: 'fira_sans_compressedregular';
    src: url('fonts/firasanscompressed-regular-webfont.eot');
    src: url('fonts/firasanscompressed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasanscompressed-regular-webfont.woff2') format('woff2'),
         url('<fonts/firasanscompressed-regular-webfont.woff') format('woff'),
         url('fonts/firasanscompressed-regular-webfont.ttf') format('truetype'),
         url('fonts/firasanscompressed-regular-webfont.svg#fira_sans_compressedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{font-family: 'Exo 2', sans-serif;font-weight:300;}
h1, h2, h3, h4, h5, h6{font-weight:400;font-family: 'Exo 2', sans-serif;}
.purchase span, .purchase span a, .purchase span a:hover, .menu-title, .ms-promo-info, .ms-promo-sub, .revolution-ch1, .revolution-ch2, .re-text-v1, .re-text-v2, .testimonials-v3, .title-v1 h1, .title-v1 h2{font-family: 'Exo 2', sans-serif;}
.re-title-v1, .re-title-v2{font-family: 'Exo 2', sans-serif;}
.header .navbar-nav > li > a{color:#005670;font-size:15px;font-weight:500;text-transform:uppercase;white-space:nowrap; font-family: 'Exo 2', sans-serif;}
#gnr-eng{width:100%;max-width:768px;overflow:hidden;margin:15px 0;padding:0;}
#gnr-eng li{float:left;width:16.6667%;margin:0;padding:0;background:none;}
#gnr-eng li img{display:block;height:auto;width:100%;max-width:128px;}
.header .topbar{display:inline-block;width:100%;text-align:right;}
.header .loginbar.pull-right{float:right!important;display:table;}
.header .topbar ul.loginbar > li{display:table-cell;padding-bottom:0;}
.header .topbar ul.loginbar li.topbar-devider{display:none;}
.header .topbar ul.loginbar li:after{display:inline-block;width:0;top:-1px;content:"\007C";color:#bbb;padding:0;font-size:11px;text-transform:uppercase;position:relative;margin:0 11px 0 9px;}
.header .topbar ul.loginbar li:last-child:after{display:none;}
@media (min-width:1024px){.header .navbar-nav > li:last-child > a{padding:9px 15px 9px 20px;}
.header .dropdown:last-child > a::after{right:0;top:9px;}
.header .navbar-nav li:last-child .dropdown-menu{min-width:180px;float:right;right:0;}
}
.header .logo{width:185px;}
.ms-anim-layers, .ms-layer{}
.ms-slide, .ms-anim-layers{background:#ffffff;}
/*<<<<<<< HEAD
.ms-promo-info{font-size:26px;font-weight:300;line-height:1;text-transform:none;max-width:580px;left:15px;top:90px;color:#555555;}
.ms-promo-info-in{font-size:30px;font-weight:300;line-height:1.5em;text-transform:uppercase;left:15px;top:145px;}
.ms-promo-info span.ms-promo-sub{display:block;margin-top:10px;text-transform:none;}
======= */
.ms-promo-info{font-size:26px;font-weight:500;line-height:1;text-transform:none;max-width:540px;left:460px;top:165px;color:#005670;}
.ms-promo-info-in{font-size:30px;font-weight:300;line-height:1.5em;text-transform:uppercase;left:460px;top:215px;}
.ms-promo-info-in span.ms-promo-sub{display:block;margin-top:10px;font-size:72%;font-weight:500;line-height:1;text-transform:none;color:#005670;}
/*>>>>>>> b861fb1... add styles redesign*/
.copyright .col-md-6{font-size:12px;}
@media (max-width:1024px){.header > .container{display:table;margin-bottom:-10px;}
}
@media (max-width:991px){.clients-page{text-align:left;}
.clients-page img{margin:0 0 30px;}
.container .col-md-3 blockquote{display:none;}
.ms-nav-next, .ms-nav-prev{left:10px!important;z-index:110;}
.ms-nav-next{left:auto!important;right:10px!important;}

.header .topbar{margin-bottom:2px;}
}
@media (max-width:639px){.header .logo{width:auto;}
.navbar-toggle{position:absolute;z-index:20;right:15px;top:75px;}
.header .container{padding-bottom:30px;}
.header .topbar{padding:3px 0;position:absolute;z-index:12;width:90%;left:15px;top:95px;display:block;text-align:left;}
.header .topbar .pull-right{float:left!important;display:block!important;padding:0;width:90%;}
.header .topbar ul.loginbar > li{display:inline;list-style:none;position:relative;0}
.header .topbar ul.loginbar > li > a{color:#333333;font-size:11px;text-transform:none;background-color:transparent;padding:0;border:none;border-radius:0;}
.header .topbar ul.loginbar > li > a:hover{color:#333333;font-size:11px;text-transform:none;text-decoration:underline;background-color:transparent;padding:0;border:none;border-radius:0;}
.header .topbar ul.loginbar li i.fa{color:#bbb;}
.header .topbar ul.loginbar li.topbar-devider{top:-1px;padding:0;font-size:8px;position:relative;margin:0 5px 0 5px;font-family: 'Exo 2', sans-serif; border-right:solid 1px #bbb;}
.thumbnail-img.imgleft{float:none;margin-top:5px;max-width:100%;padding-bottom:10px;padding-right:0;clear:both;}
.breadcrumbs h1.pull-left, .breadcrumbs ul.pull-right{text-align:left;width:100%;}
.pull-right.breadcrumb{padding-left:0;}

}
@media (min-width:961px) and (max-width:991px) {
.ms-promo-info, .ms-promo-info-in{left:440px!important;width:48%;max-width:500px;}
}
@media (min-width:861px) and (max-width:960px) {
.ms-promo-info, .ms-promo-info-in{left:400px!important;width:48%;max-width:500px;}
}
@media (min-width:781px) and (max-width:860px) {
.ms-promo-info, .ms-promo-info-in{left:360px!important;width:48%;max-width:500px;}
}
@media (min-width:641px) and (max-width:780px) {
.ms-promo-info, .ms-promo-info-in{left:330px!important;width:48%;max-width:500px;}
}
@media (min-width:581px) and (max-width:639px) {
.ms-promo-info, .ms-promo-info-in{left:270px!important;width:48%;max-width:500px;}
}
@media (min-width:521px) and (max-width:580px) {
.ms-promo-info, .ms-promo-info-in{left:240px!important;width:48%;max-width:500px;}
}
@media (min-width:480px) and (max-width:520px) {
.ms-promo-info, .ms-promo-info-in{left:220px!important;width:48%;max-width:500px;}
}
@media (min-width:400px) and (max-width:479px) {
.ms-promo-info, .ms-promo-info-in{left:200px!important;width:48%;max-width:500px;}
}
@media (min-width:330px) and (max-width:399px) {
.ms-promo-info, .ms-promo-info-in{left:180px!important;width:48%;max-width:500px;}
}

.tag-box ul{margin:5px 0 10px 0px;padding-left:0px;overflow:hidden;}
.tag-box ul li{list-style:none;background-image:url(../img/check.png);background-repeat:no-repeat;background-position:left 5px;padding-left:22px;padding-bottom:5px;text-align:left;font-weight:300;}
.pagination > li{display:inline;background-image:none !important;padding-left:0px !important;}
.tag-box strong{color:#299B47;font-weight:500;}
.link-captions > li{display:inline;background-image:none !important;padding-left:0px !important;}
@media (max-width:479px){
.ms-skin-black-2 .ms-bullets.ms-dir-h{width:125px!important;}
.imgleft-certificate{/*float:none;*/margin-top:0;margin-bottom:15px;padding-left:10px;}
/* HEAD =======*/
}
.img-responsive-left {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}

.thumbnail-kenburn img{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;}
.thumbnail-kenburn:hover img{-webkit-transform:none;-moz-transform:none;-o-transform:none;-ms-transform:none;transform:none;}


@media print {

    a[href]:after {
        /*content: " (" attr(href) ")";*/
        content: none !important;
    }

}

blockquote small {
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    color: #299B47;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    color: #fff;
}

.img-responsive {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 0px;
	border: 1px solid #f4f4f4;
 	padding: 2px;
}

.img-responsive2 {
    display: block;
    max-width: 100%;
    height: auto;
}
.text-danger {
    color: #299B47;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #005670;
    border-color: #ddd;
/* b861fb1... add styles redesign */
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #299B47;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.grn-title {
    background: #299B47;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    margin: 15px 0 20px 0 !important;
}

.tag-box .row.margin-bottom-30 .col-md-4 .service {
    margin: 0;
}

.service {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 7px 10px;
}
.service, .service:hover {
    background: #fcfcfc;
    box-shadow: 0 0 5px #ddd;
    display: block;
    float: none;
    width: 100%;
    height: 100%;
}

.service .desc {
    padding: 0 10px;
    overflow: hidden;
    font-size: 12px;
}
.service .desc .title a {
    color: #299B47;
    text-decoration: none;
}

.service .desc .title a:hover {
    color: #005670;
    text-decoration: none;
}

.tag-box .row.margin-bottom-30 .col-md-4 {
    /*display: table-cell;
    float: none;*/
    height: 100%;
}
.tag-box .row.margin-bottom-30 .col-md-4 img {max-width: 100%; height: auto;}
.tag-box .margin-bottom-30 .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.tag-box .row.margin-bottom-30 {
    display: block;
    /*display: table;
    height: 1px;*/
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
}

@media (max-width:991px) {
.tag-box .row.margin-bottom-30 .col-md-4 {width: 33.33333333%; float: left; margin-bottom: 15px;}
.tag-box .row.margin-bottom-30 .col-md-4:nth-child(2n+2):after {display: block; content: ""; clear: both; height: 1px;}
.tag-box .row.margin-bottom-30 .col-md-4 img {display: block; margin: 0 auto;}
}

@media (max-width:639px) {
.tag-box .row.margin-bottom-30 .col-md-4 {width: 100%; float: none; margin-bottom: 15px;}
.tag-box .row.margin-bottom-30 .col-md-4:nth-child(2n+2):after {display: none; height: 0px;}
.tag-box .row.margin-bottom-30 .col-md-4 img {display: block; margin: 0 auto;}
}

/* home slider arrows update */
.ms-skin-black-2 .ms-nav-next {
    /*display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 0 32px 14px;
    border-color: transparent transparent transparent #299b47;*/
    display: block;
    width: 14px;
    height: 64px;
    border: 0;
    border-radius: 0;
    background: url(../img/rotator/arrow-right.png) no-repeat center top;
}
.ms-skin-black-2 .ms-nav-prev {
    /*display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 14px 32px 0;
    border-color: transparent #299b47 transparent transparent;*/
    display: block;
    width: 14px;
    height: 64px;
    border: 0;
    border-radius: 0;
    background: url(../img/rotator/arrow-left.png) no-repeat center top;
}

.ms-skin-black-2 .ms-nav-next:hover {
    /*border-color: transparent transparent transparent #005670;*/
    background: url(../img/rotator/arrow-right-hover.png) no-repeat center top;
}
.ms-skin-black-2 .ms-nav-prev:hover {
    /*border-color: transparent #005670 transparent transparent;*/
    background: url(../img/rotator/arrow-left-hover.png) no-repeat center top;
}
.ms-grab-cursor{cursor: grab;}
.ms-grabbing-cursor{cursor: grabbing;}
.grabbing{cursor: grabbing;}

/* tables */
.panel-grey .table-bordered {

}
.table-bordered > tbody > tr > td, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > td, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > thead > tr > th {
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
}

.table-bordered > tbody > tr:nth-of-type(2n+1) {
    background-color: #f4f4f4;
}

.table-bordered > tbody > tr > th {
    background: #299B47;
    color: #fff;
	font-weight:500;
}
/*
.col-sm-7 {
    width: 55.33333333%;
}
.col-sm-5 {
    width: 44.66666667%;
}*/