a{color:#299B47;}
a:focus,
a:hover,
a:active{color:#299B47;}
.color-green{color: #fff; background-color: #299B47;}
a.read-more:hover{color:#299B47;}
.linked:hover{color:#299B47;}
.header .navbar-nav > .active > a{color:#299B47;}
.header .navbar-nav > .active > a{border-color:#299B47;}
.header .dropdown-menu{border-top:solid 2px #299B47;}
.header .navbar-nav > li:hover > a{color:#299B47;}
.header .nav > li > .search:hover{border-bottom-color:#299B47;color:#299B47;}
.header .navbar-nav > li > a:hover,
.header .navbar-nav > .active > a{border-bottom-color:#299B47;}
.header .navbar-toggle{border-color:#299B47;}
.header .navbar-toggle,
.header .navbar-toggle:hover,
.header .navbar-toggle:focus{background:#299B47;}
.header .navbar-toggle:hover{background:#299B47 !important;}
.header .navbar-nav > .open > a,
.header .navbar-nav > .open > a:hover,
.header .navbar-nav > .open > a:focus{color:#299B47;}
@media (max-width:991px){.header .navbar-nav > .active > a,
.header .navbar-nav > .active > a:hover,
.header .navbar-nav > .active > a:focus{background:#299B47;color:#fff !important;}
.header .navbar-nav > .active > a{border-color:#eee;}
.header .nav > li > .search:hover{background:#299B47;}
}
.header-v1 .topbar-v1 .top-v1-data li a:hover i{color:#299B47;}
.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus{color:#299B47;}
.header-v1 .dropdown-menu{border-color:#299B47}
.header-v1 .navbar-default .navbar-nav > li:hover > a{color:#299B47;}
.header-v1 .navbar .nav > li > .search:hover{color:#299B47;}
.header-v1 .navbar .nav > li > .search:hover{color:#299B47;}
.header-v1 .navbar-default .navbar-toggle{border-color:#299B47;}
.header-v1 .navbar-toggle,
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:focus{background:#299B47;}
.header-v1 .navbar-toggle:hover{background:#299B47 !important;}
@media (max-width:991px){.header-v1 .navbar-default .navbar-nav > li:hover > a{border-color:#eee;}
.header-v1 .navbar-default .navbar-nav > .active > a,
.header-v1 .navbar-default .navbar-nav > .active > a:hover,
.header-v1 .navbar-default .navbar-nav > .active > a:focus{background-color:#299B47;}
.header-v1 .navbar-default .navbar-nav > .active > a{border-color:#eee;}
.header-v1 .navbar .nav > li > .search:hover{background-color:#299B47;}
}
.header-v2 .dropdown-menu{border-color:#299B47;}
.header-v2 .navbar-default .navbar-toggle{border-color:#299B47;}
.header-v2 .navbar-toggle,
.header-v2 .navbar-default .navbar-toggle:hover,
.header-v2 .navbar-default .navbar-toggle:focus{background:#299B47;}
.header-v2 .navbar-toggle:hover{background:#299B47 !important;}
@media (max-width:991px){.header-v2 .navbar-default .navbar-nav > .active > a,
.header-v2 .navbar-default .navbar-nav > .active > a:hover,
.header-v2 .navbar-default .navbar-nav > .active > a:focus{background:#299B47;color:#fff !important;}
.header-v2 .navbar-default .navbar-nav > li > a:hover{color:#299B47;}
}
.header-v3 .navbar-default .navbar-nav > .active > a{color:#299B47;}
.header-v3 .navbar-default .navbar-nav > li:hover > a{color:#299B47;}
.header-v3 .dropdown-menu{border-color:#299B47;}
.header-v3 .navbar-default .navbar-toggle{border-color:#299B47;}
.header-v3 .navbar-toggle,
.header-v3 .navbar-default .navbar-toggle:hover,
.header-v3 .navbar-default .navbar-toggle:focus{background:#299B47;}
.header-v3 .navbar-toggle:hover{background:#299B47 !important;}
.header-v3 .navbar .nav > li > .search:hover{background:inherit;color:#299B47;}
@media (max-width:991px){.header-v3 .navbar-default .navbar-nav > .active > a,
.header-v3 .navbar-default .navbar-nav > .active > a:hover,
.header-v3 .navbar-default .navbar-nav > .active > a:focus{background:#299B47;color:#fff !important;}
.header-v3 .navbar-default .navbar-nav > .active > a{border-color:#eee;}
.header-v3 .navbar .nav > li > .search:hover{background:#299B47;}
}
.topbar-v1 .top-v1-data li a:hover i{color:#299B47;}
.header-v4 .navbar-default .navbar-nav > li > a:hover,
.header-v4 .navbar-default .navbar-nav > .active > a{border-color:#299B47;}
.header-v4 .navbar-default .navbar-nav > .active > a{color:#299B47;}
.header-v4 .navbar-default .navbar-nav > li:hover > a{border-color:#299B47;color:#299B47;}
.header-v4 .navbar .nav > li > .search:hover{color:#299B47;}
.header-v4 .navbar-default .navbar-nav > .open > a,
.header-v4 .navbar-default .navbar-nav > .open > a:hover,
.header-v4 .navbar-default .navbar-nav > .open > a:focus{color:#299B47;}
@media (max-width:991px){.header-v4 .navbar-default .navbar-nav > li:hover > a{border-color:#eee;}
.header-v4 .navbar-default .navbar-nav > .active > a,
.header-v4 .navbar-default .navbar-nav > .active > a:hover,
.header-v4 .navbar-default .navbar-nav > .active > a:focus{color:#299B47 !important;}
.header-v4 .navbar-default .navbar-nav > .active > a{border-color:#eee;}
.header-v4 .navbar .nav > li > .search:hover{background:#299B47;}
}
@media (min-width:992px){.header-v5 .navbar-default .navbar-nav > li > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a{border-top:2px solid #299B47;}
}
.header-v5 .navbar-default .navbar-nav > .active > a{color:#299B47;}
.header-v5 .navbar-default .navbar-nav > li:hover > a{color:#299B47;}
.header-v5 .navbar-default .navbar-nav > .open > a,
.header-v5 .navbar-default .navbar-nav > .open > a:hover,
.header-v5 .navbar-default .navbar-nav > .open > a:focus{color:#299B47;}
.header-v5 .dropdown-menu li > a:hover{background:#299B47;}
.header-v5 .dropdown-menu .active > a,
.header-v5 .dropdown-menu li > a:hover{background:#299B47;}
.header-v5 .dropdown-menu{border-color:#299B47;}
.header-v5 .dropdown-menu li.dropdown-submenu:hover > a{background:#299B47;}
.header-v5 .dropdown-menu .style-list li > a:hover{background:none;}
.header-v5 .style-list li a:hover{color:#299B47;}
.header-v5 .subtotal .subtotal-cost{color:#299B47;}
@media (max-width:991px){.header-v5 .navbar-default .navbar-nav > .active > a,
.header-v5 .navbar-default .navbar-nav > .active > a:hover,
.header-v5 .navbar-default .navbar-nav > .active > a:focus{background:#299B47 !important;}
}
.header-v5 .shop-badge span.badge-sea{background:#299B47;}
.header-v5 .badge-open{border-top:2px solid #299B47;box-shadow:0 5px 5px 0 rgba(161, 15, 43, 0.075);}
.header-v6 .shopping-cart .shopping-cart-open{border-top-color:#299B47 !important;}
.header-v6 li.menu-icons span.badge{background:#299B47;}
.header-v6 .dropdown-menu{border-top-color:#299B47;}
@media (max-width:991px){.header-v6 .navbar-nav > .active > a,
.header-v6 .navbar-nav > .active > a:hover,
.header-v6 .navbar-nav > .active > a:focus{color:#299B47 !important;}
.header-v6 .nav .open > a,
.header-v6 .nav .open > a:hover,
.header-v6 .nav .open > a:focus{border-color:#eee;}
.header-v6 .navbar-nav > li > a:hover,
.header-v6 .navbar-nav .open .dropdown-menu > li > a:hover,
.header-v6 .navbar-nav .open .dropdown-menu > li > a:focus,
.header-v6 .navbar-nav .open .dropdown-menu > .active > a,
.header-v6 .navbar-nav .open .dropdown-menu > .active > a:hover,
.header-v6 .navbar-nav .open .dropdown-menu > .active > a:focus{color:#299B47 !important;}
.header-v6 .mega-menu .equal-height-list li a:hover{color:#299B47 !important;}
.header-v6 .mega-menu .equal-height-list li a:hover{color:#299B47;}
.header-v6.header-dark-res-nav .navbar-nav > li a:hover,
.header-v6.header-dark-res-nav .navbar-nav .open .dropdown-menu > li > a:hover{color:#299B47;}
.header-v6.header-dark-res-nav .nav .open > a,
.header-v6.header-dark-res-nav .nav .open > a:hover,
.header-v6.header-dark-res-nav .nav .open > a:focus{border-color:#555;}
}
@media (min-width:992px){.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover{color:#299B47 !important;}
.header-v6 .dropdown-menu .active > a,
.header-v6 .dropdown-menu li > a:hover,
.header-fixed .header-v6.header-fixed-shrink .dropdown-menu .active > a,
.header-fixed .header-v6.header-fixed-shrink .dropdown-menu li > a:hover{color:#299B47 !important;}
.header-fixed .header-v6.header-fixed-shrink .navbar-nav .active > a,
.header-fixed .header-v6.header-fixed-shrink .navbar-nav li > a:hover{color:#299B47;}
.header-fixed .header-v6.header-classic-white .navbar-nav .active > a,
.header-fixed .header-v6.header-classic-white .navbar-nav li > a:hover{color:#299B47;}
.header-v6.header-classic-dark .navbar-nav .active > a,
.header-v6.header-classic-dark .navbar-nav li > a:hover,
.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav .active > a,
.header-fixed .header-v6.header-classic-dark.header-fixed-shrink .navbar-nav li > a:hover{color:#299B47;}
.header-v6.header-classic-dark .dropdown-menu .active > a,
.header-v6.header-classic-dark .dropdown-menu li > a:hover{color:#299B47 !important;}
.header-v6.header-dark-dropdown .dropdown-menu .active > a,
.header-v6.header-dark-dropdown .dropdown-menu li > a:hover{color:#299B47;}
.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav .active > a,
.header-fixed .header-v6.header-dark-scroll.header-fixed-shrink .navbar-nav li > a:hover{color:#299B47;}
}
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li.active > a{color:#299B47 !important;}
.header-v7 .dropdown-menu .active > a,
.header-v7 .dropdown-menu li > a:focus,
.header-v7 .dropdown-menu li > a:hover{color:#299B47 !important;}
.header-v7 .navbar-default .navbar-nav > li > a:hover,
.header-v7 .navbar-default .navbar-nav > li > a:focus,
.header-v7 .navbar-default .navbar-nav > .active > a,
.header-v7 .navbar-default .navbar-nav > .active > a:hover,
.header-v7 .navbar-default .navbar-nav > .active > a:focus{color:#299B47;}
.header-socials li a:hover{color:#299B47;}
.da-slide h2 i{background-color:#299B47;}
.sequence-inner{background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e6c6cc));background:-webkit-linear-gradient(#fff, #e6c6cc);background:-moz-linear-gradient(#fff, #e6c6cc);background:-ms-linear-gradient(#fff, #e6c6cc);background:-o-linear-gradient(#fff, #e6c6cc);background:linear-gradient(#fff, #e6c6cc)}
#sequence-theme h2{background:rgba(161, 15, 43, 0.8);}
#sequence-theme .info p{background:rgba(161, 15, 43, 0.8);}
.btn-u{background:#299B47;}
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u{background:#005670;color:#fff;}
.btn-u-split.dropdown-toggle{border-left:solid 1px #299B47;}
.btn-u.btn-brd{border-color:#299B47;}
.btn-u.btn-brd:hover{color:#299B47;border-color:#299B47;}
.btn-u.btn-brd.btn-brd-hover:hover{background:#299B47;}
.service .service-icon{color:#299B47;}
.service-alternative .service:hover{background:#299B47;}
.thumbnail-style h3 a:hover{color:#299B47;}
.thumbnail-style a.btn-more{background:#005670;}
.thumbnail-style a.btn-more:hover{box-shadow:0 0 0 2px #005670;}
.headline h2,
.headline h3,
.headline h4{border-bottom:2px solid #299B47;}
blockquote:hover{border-left-color:#299B47;}
.hero{border-left-color:#299B47;}
blockquote.hero.hero-default{background:#299B47;}
blockquote.hero.hero-default:hover{background:#299B47;}
.carousel-arrow a.carousel-control:hover{color:#299B47;}
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover{color:#299B47;}
.footer .dl-horizontal a:hover{color:#299B47 !important;}
.posts .dl-horizontal a:hover{color:#299B47;}
.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a{color:#299B47;border-color:#299B47 !important;}
.post-comment h3,
.blog-item .media h3,
.blog-item .media h4.media-heading span a{color:#299B47;}
.tab-v1 .nav-tabs{border-bottom:solid 2px #299B47;}
.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus{background:#299B47;}
.tab-v1 .nav-tabs > li > a:hover{background:#299B47;}
.tab-v2 .nav-tabs li.active a{border-top:solid 2px #299B47;}
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a{background:#299B47;border:solid 1px #299B47;}
.acc-home a.active,
.acc-home a.accordion-toggle:hover{color:#299B47;}
.acc-home .collapse.in{border-bottom:solid 1px #299B47;}
.testimonials .testimonial-info{color:#299B47;}
.testimonials .carousel-arrow i:hover{background:#299B47;}
.info-blocks:hover i.icon-info-blocks{color:#299B47;}
.breadcrumb li.active,
.breadcrumb li a:hover{color:#299B47;}
.team .thumbnail-style:hover h3 a{color:#299B47 !important;}
.team ul.team-socail li i:hover{background:#299B47;}
.who li i,
.who li:hover i,
.who li:hover a{color:#299B47;}
.privacy a:hover{color:#299B47;}
.view a.info:hover{background:#299B47;}
.sorting-block .sorting-nav li.active{color:#299B47;border-bottom:solid 1px #299B47;}
.sorting-block .sorting-grid li a:hover span.sorting-cover{background:#299B47;}
.blog h3{color:#299B47;}
.blog li a:hover{color:#299B47;}
ul.blog-tags a:hover{background:#299B47;}
.blog-post-tags ul.blog-tags a:hover{background:#299B47 !important;}
.blog-photos li img:hover{box-shadow:0 0 0 2px #299B47;}
.blog-twitter .blog-twitter-inner:hover{border-color:#299B47;border-top-color:#299B47;}
.blog-twitter .blog-twitter-inner:hover:after{border-top-color:#299B47;}
.blog-twitter .blog-twitter-inner a{color:#299B47;}
.blog-item h4.media-heading span a{color:#299B47;}
.coming-soon-border{border-top:solid 3px #299B47;}
.booking-blocks p a{color:#299B47;}
.icon-page li:hover{color:#299B47;}
.glyphicons-demo a:hover{color:#299B47;text-decoration:none;}
.social-icons-v1 i:hover{color:#fff;background:#299B47;}
.magazine-news .by-author strong{color:#299B47;}
.magazine-news a.read-more{color:#299B47;}
.magazine-mini-news .post-author strong{color:#299B47;}
.news-read-more i{background:#299B47;}
.magazine-page h3 a:hover{color:#299B47;}
.tag-box-v1{border-top:solid 2px #299B47;}
.tag-box-v2{border-left:solid 2px #299B47;}
.tag-box-v7{border-bottom:solid 2px #299B47;}
.fa-icons li:hover{color:#299B47;}
.fa-icons li:hover i{background:#299B47;}
.bs-glyphicons li:hover{color:#299B47;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{background-color:#299B47;border-color:#299B47;}
.pagination li a:hover{background:#D45461;border-color:#D45461;}
.pager li > a:hover,
.pager li > a:focus{background:#D45461;border-color:#D45461;}
.pager.pager-v2 li > a:hover,
.pager.pager-v2 li > a:focus,
.pager.pager-v3 li > a:hover,
.pager.pager-v3 li > a:focus{color:#fff;background:#299B47;}
.reg-block{border-top:solid 2px #299B47;}
#effect-2 figure .img-hover{background:#299B47;}
.blog h2 a:hover{color:#299B47;}
.timeline-v1 > li > .timeline-badge i:hover{color:#299B47;}
.timeline-v1 .timeline-footer .likes:hover i{color:#299B47;}
.timeline-v2 > li .cbp_tmicon{background:#299B47;}
.progress-bar-u{background:#299B47;}
.job-description .save-job a:hover,
.block-description .save-job a:hover{color:#299B47;}
.job-description .p-chart .overflow-h li i,
.job-description .p-chart .overflow-h li a,
.block-description .p-chart .overflow-h li i,
.block-description .p-chart .overflow-h li a{color:#299B47;}
.job-description .colorful-ul li a{color:#299B47;}
.s-results .related-search a:hover{color:#299B47;}
.s-results .inner-results h3 a:hover{color:#299B47;}
.s-results .up-ul li a:hover{color:#299B47;}
.s-results .down-ul li a{color:#299B47;}
.funny-boxes p a{color:#299B47;}
.funny-boxes .funny-boxes-img li i{color:#299B47;}
.funny-boxes-colored p, .funny-boxes-colored h2 a, .funny-boxes-colored .funny-boxes-img li, .funny-boxes-colored .funny-boxes-img li i{color:#fff;}
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a{color:#299B47;}
blockquote.bq-green{border-color:#299B47;}
blockquote:hover,
blockquote.text-right:hover{border-color:#299B47;}
.quote-v1 p::before{color:#299B47;}
.funny-boxes-left-green{border-left:solid 2px #299B47;}
.funny-boxes-left-green:hover{border-left-color:#299B47;}
.testimonials .carousel-arrow i:hover{background:#299B47;}
.testimonials-bg-default .item p{background:#299B47;}
.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after{border-top-color:#299B47;}
.testimonials-bg-default .carousel-arrow i{background:#299B47;}
.testimonials.testimonials-bg-default .carousel-arrow i:hover{background:#299B47;}
.promo-box:hover strong,
.promo-box:hover strong a{color:#299B47;}
.dropcap{color:#299B47;}
.dropcap-bg{color:#fff;background:#299B47;}
span.label-u,
span.badge-u{background:#299B47;}
.link-icon:hover i{color:#299B47;border:solid 1px #299B47;}
.link-bg-icon:hover i{color:#299B47;background:#299B47 !important;border-color:#299B47;}
i.icon-color-u{color:#299B47;border:solid 1px #299B47;}
i.icon-bg-u{background:#299B47;}
.line-icon-page .item:hover{color:#299B47;}
.service-block-u{background:#299B47;}
.panel-u{border-color:#299B47;}
.panel-u > .panel-heading{background:#299B47;}
.owl-btn:hover{background:#299B47;}
.counters span.counter-icon i{background:#299B47;}
.counters span.counter-icon i:after{border-top:7px solid #299B47;}
.sky-form .button{background:#299B47;}
.sky-form .rating input:checked ~ label{color:#299B47;}
.sky-form .message{color:#299B47;}
.sky-form .message i{border-color:#299B47;}
.profile .profile-post:hover span.profile-post-numb{color:#299B47;}
.profile .date-formats{background:#299B47;}
.profile .name-location span i,
.profile .name-location span a:hover{color:#299B47;}
.share-list li i{color:#299B47;}
.profile .comment-list-v2 li:hover i,
.profile .comment-list li:hover i{color:#299B47;}
.profile .profile-post.color-one{border-color:#299B47;}
.pricing:hover h4{color:#299B47;}
.pricing-head h3{background:#299B47;text-shadow:0 1px 0 #299B47;}
.pricing-head h4{color:#999;background:#fcfcfc;border-bottom:solid 1px #e6c6cc;}
.pricing-content li{border-bottom:solid 1px #e6c6cc;}
.pricing-content li i{color:#299B47;}
.sticker-left{background:#299B47;}
.pricing-footer a:hover,
.pricing-footer button:hover{background:#299B47;}
.price-active h4{color:#299B47;}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4{color:#299B47;}
.pricing-mega-v1 .pricing-head h3,
.pricing-mega-v2 .pricing-head h3,
.pricing-mega-v3 .pricing-head h3{text-shadow:0 1px 0 #299B47;}
.pricing-mega-v1 .pricing:hover h4 i{color:#299B47;}
.pricing-mega-v1 .pricing-content li i{color:#299B47;}
.pricing-bg-colored .pricing:hover{background:#299B47;}
.pricing-bg-colored .pricing-head i{color:#299B47;}
.pricing-bg-colored .pricing-footer .btn-u{border:1px solid #fff;}
.pricing-bg-colored .pricing-head p{border-bottom:1px solid #e6c6cc;}
.pricing-mega-v2 .block:hover .bg-color{background:#299B47;}
.pricing-mega-v2 .block:hover h3,
.pricing-mega-v2 .block:hover h4,
.pricing-mega-v2 .block:hover li,
.pricing-mega-v2 .block:hover li i,
.pricing-mega-v2 .block:hover h4 i{background:#299B47;}
.pricing-mega-v1 .btn-group .dropdown-menu,
.pricing-mega-v3 .btn-group .dropdown-menu{background:#299B47 !important;}
.pricing-mega-v1 .btn-group .dropdown-menu li a:hover,
.pricing-mega-v3 .btn-group .dropdown-menu li a:hover{background:#299B47;}
.grid-block-v2 li:hover .grid-block-v2-info{border-color:#299B47;}
.testimonials-v3 .testimonials-v3-title p{color:#299B47;}
.testimonials-v3 .owl-buttons .owl-prev:hover,
.testimonials-v3 .owl-buttons .owl-next:hover{background:#299B47;}
.content-boxes-v4 i{color:#299B47;}
.thumbnails-v1 .read-more{color:#299B47;}
.testimonials-v6 .testimonials-info:hover{border-color:#299B47;}
.team-v1 li:hover > p:before{background:#299B47;}
.team-v4 .team-social-v4 a:hover{color:#299B47;}
.team-v5 small,
.team-v6 small,
.team-v7 .team-v7-position{color:#299B47;}
.headline-center h2:after{background:#299B47;}
.headline-left .headline-brd:after{background:#299B47;}
.portfolio-box .portfolio-box-in i{background:#299B47;}
.flat-bg-block-v1 .checked-list i{color:#299B47;}
.owl-carousel-v5 .owl-controls .owl-page.active span,
.owl-carousel-v5 .owl-controls.clickable .owl-page:hover span{background:#299B47;}
.content-boxes-v5:hover i{background:#299B47;}
.block-grid-v1:hover{border-color:#299B47;}
.block-grid-v2 li:hover .block-grid-v2-info{border-color:#299B47;}
.content-boxes-v6:hover i:after{border-color:#299B47;}
.content-boxes-v6:hover i{background:#299B47;}
.portfolio-box-v2 .portfolio-box-v2-in i{background:rgba(161, 15, 43, 0.8);}
.portfolio-box-v2 .portfolio-box-v2-in i:hover{background:#299B47;}
.service-block-v1 i{background:#299B47;}
.service-block-v4 .service-desc i{color:#299B47;}
.service-block-v7 i{background:#299B47;}
.service-block-v8 .service-block-desc h3::after{background:#299B47;}
.testimonials-bs .carousel-control-v2 i:hover{border-color:#299B47;color:#299B47;}
.fusion-portfolio #filters-container .cbp-filter-item-active{background:#299B47;border-color:#299B47;}
.fusion-portfolio #filters-container .cbp-filter-item:hover{color:#299B47;}
.blog_masonry_3col h3 a:hover{color:#299B47;}
.cube-portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active, .cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover{color:#299B47;}
.cube-portfolio .link-captions li i:hover{color:#fff;background:#299B47;}
.cube-portfolio .cbp-caption-activeWrap.default-transparent-hover{background:rgba(161, 15, 43, .9) !important;}
.owl-work-v1 .item a:hover span{border-bottom-color:#299B47;}
.footer-default .footer .dl-horizontal a:hover{color:#299B47 !important;}
.footer-default .footer a{color:#299B47;}
.footer-default .footer a:hover{color:#299B47;}
.footer-default .copyright a{color:#299B47;}
.footer-default .copyright a:hover{color:#299B47;}
.footer-v4 .copyright a{color:#299B47;}
.title-v1 h1:after, .title-v1 h2:after{background-color:#299B47;}
.copyright-section i.back-to-top:hover{color:#299B47;}
#topcontrol:hover{background-color:#299B47;}
.news-v1 .news-v1-info li a:hover{color:#299B47;}
.news-v1 h3 a:hover{color:#299B47;}
.news-v2 .news-v2-desc h3 a:hover{color:#299B47 !important;}
.news-v3 .post-shares li span{background:#299B47;}
.news-v3 .posted-info li a:hover{color:#299B47 !important;}
.news-v3 h2 a:hover{color:#299B47 !important;}
.blog-trending small a:hover{color:#299B47;}
.blog_masonry_3col ul.grid-boxes-news li a:hover{color:#299B47;}
.lists-v1 i{background:#299B47;}
.lists-v2 i{color:#299B47;}
.process-v1 .process-in > li i{background:#299B47;}
.featured-blog h2::after{background:#299B47;}
.featured-blog .featured-img i:hover{color:#fff;background:#299B47;}
.rgba-default{background-color:rgba(161, 15, 43, 1);}
.blog-latest-posts h3 a:hover{color:#299B47 !important;}
.blog-trending h3 a:hover{color:#299B47 !important;}
.blog-thumb .blog-thumb-hover:hover:after{background:rgba(161, 15, 43, 0.9);}
.blog-grid .blog-grid-grad i:hover{background:rgba(161, 15, 43, 1);}
.footer-v8 .footer .column-one a:hover{color:#299B47;}
.footer-v8 .footer .tags-v4 a:hover{border-color:#299B47;background-color:#299B47;}
.footer-v8 .footer .footer-lists li a:hover{color:#299B47;}
.footer-v8 .footer .latest-news h3 a:hover{color:#299B47;}
.footer-v8 .footer .input-group-btn .input-btn{background:#299B47;}
.footer-v8 .footer .social-icon-list li i:hover{background:#299B47;border-color:#299B47;}
.header-v8 .dropdown-menu{border-top:solid 3px #299B47;}
.header-v8 .dropdown-menu .active > a,
.header-v8 .dropdown-menu li > a:hover{color:#299B47;}
.header-v8 .navbar-nav .open .dropdown-menu > li > a:hover,
.header-v8 .navbar-nav .open .dropdown-menu > li > a:focus{color:#299B47;}
.header-v8 .navbar-nav .open .dropdown-menu > .active > a,
.header-v8 .navbar-nav .open .dropdown-menu > .active > a:hover,
.header-v8 .navbar-nav .open .dropdown-menu > .active > a:focus{color:#299B47;}
.header-v8 .navbar-nav .open .dropdown-menu > .disabled > a,
.header-v8 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.header-v8 .navbar-nav .open .dropdown-menu > .disabled > a:focus{color:#299B47;}
.header-v8 .navbar-nav > li > a:hover{color:#299B47;}
.header-v8 .navbar-nav > .active > a,
.header-v8 .navbar-nav > .active > a:hover,
.header-v8 .navbar-nav > .active > a:focus{color:#299B47 !important;}
.header-v8 .mega-menu .mega-menu-fullwidth .dropdown-link-list li a:hover{color:#299B47;}