.footer-v1 .footer{padding:40px 0;background:#00242F;}
.footer-v1 .footer p{color:#eee;}
.footer-v1 .footer h2{color:#eee;font-size:18px;font-weight:200;}
.footer-v1 .link-list li{border-top:solid 1px #003240;}
.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i{color:#eee;}
.footer-v1 address{line-height:23px;}

.footer-v1 .footer .posts .dl-horizontal a{color:#dadada;}
.footer-v1 .footer .dl-horizontal a:hover{color:#5fb611 !important;}
.footer-v1 .copyright{background:#00151C;border-top:none;padding:10px 0 5px;}
.footer-v1 .copyright p{color:#eee;margin-top:14px;}
.footer-v1 .copyright a{margin:0 2px;}
.footer-v1 .footer-socials{margin-top:12px;text-align:left;}
.footer-v1 .footer-socials li a{color:#005670;font-size:16px;}
@media (max-width:991px){.footer-v1 .copyright,
.footer-v1 .footer-socials{text-align:left;}
}